<div class="common-main">
    <h3 id="monitor-1" class="common-main-title">API监控</h3>

    <div class="common-main-content clearfix">
        <div class="api-watch-grid">

            <div class="api-watch-frequency">
                <div class="api-watch-grid-title">API使用频率排名</div>
                <div class="api-watch-frequency-grid ss-ui-grid-default"  ui-grid="gridOptionsApiFrequency" ui-grid-selection ui-grid-resize-columns  my-ui-grid-auto-resize></div>
            </div>

            <div class="api-watch-delay">
                <div class="api-watch-grid-title">API延迟排名</div>
                <div class="api-watch-delay-grid ss-ui-grid-default"  ui-grid="gridOptionsApiDelay" ui-grid-selection ui-grid-resize-columns  my-ui-grid-auto-resize></div>
            </div>
        </div>

        <div class="api-watch-grid">
            <div uib-tooltip="{{tooltipSqlContent}}" tooltip-trigger="none" tooltip-is-open="isTooltipSqlContentShow" tooltip-placement="top">
                <div class="api-watch-grid-title">API使用详情 &nbsp; {{currentApiName}}</div>
            </div>
            <div class="api-watch-details-grid ss-ui-grid-default"  ui-grid="gridOptionsApiDetails" ui-grid-selection ui-grid-resize-columns  my-ui-grid-auto-resize></div>
        	<button class="ss-btn ss-btn-info" ng-disabled="upLock" ng-click="pageUp()">上一页</button>
        	<span class="currentPage">{{currentPage}}</span>
        	<button class="ss-btn ss-btn-info" ng-disabled="downLock" ng-click="pageDown()">下一页</button>
        </div>
    </div>
</div>
